

.container .sidebar{
    position:absolute; 
    height: 963px;
    width: 296px;
    right: 1144px;
    top: 72px;
    border-radius: 0px;

    z-index:10;
    text-align:center;
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    background: rgba(0, 120, 212, 1);
    left: 0px;
   
}
.sidebar li button:nth-child(1){
   
    height: 70px;
    width: 296px;
    position: absolute;
    border-radius: 0px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    left: 0px;
   top: 0px;
    
   
}
.sidebar li button:nth-child(2){
    height: 70px;
    width: 296px;
    left: 0px;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    position: absolute;
    top: 80px;
}


.sidebar li:hover:nth-child(1){
   
    background-color:transparent;
}

.sidebar li{
    position: absolute;
    cursor:pointer;
    transition:all 0.5s;
    letter-spacing:1px;
    display:flex;
    flex-direction:column;
}



.sidebar li:hover{

    padding:12px;
     
}
#border{
    border: 1px solid #869BFC;
    position: fixed;
    width: 296px;
    height: 0px;
    top: 136px;
    left: 0px;
  
  
}
 #log{
    border: 1px solid #869BFC;
    position: absolute;
    width: 296px;
    height: 0px;
    left: 0px;
    transform: rotate(0deg);
    top: 139.49px;
    
 }
#line{
    position: absolute;
    border: 1px solid #869BFC;
}
