.nav{

    width: 1440px;
    height: 72px;
    background-color: rgba(0, 120, 212, 1);
}

span{
  
    top: 12px;
    background: rgba(0, 120, 212, 1);
    color: #EFEFEF;
}

.brand{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 112px;
    height: 48px;
    left: 0px;
    top: 12px;
}




#sunIcon{
    color:#FFCE31;
    top: 21px;
    left: 1255px;
    position: absolute;
   
}